<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Pinekit template</title>
        <link rel="shortcut icon" href="../../../favicon.ico">
        <link rel="stylesheet" href="../../../assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
        <link href="../../../pinekit_theme/pinekit.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../../../css/style.css">
        <link rel="stylesheet" href="../../../../../../assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../../../../../../pinekit_theme/pinekit.css">
        <link rel="stylesheet" href="../../../assets/admin/assets/vendors/typicons.font/font/typicons.css">
        <link rel="stylesheet" href="../../../assets/admin/assets/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="../../../assets/admin/assets/vendors/vertical-layout-light/style.css">
    </head>
    <body>
        <header>
</header>
        <nav class="bg-white navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                </button><span class="fw-bold placeholder-wave text-primary" style="font-size: 39px;">Garazy</span>
                <div class="collapse navbar-collapse " id="navbarNavDropdown-1" style="margin-left: 16.696%;"> 
                    <ul class="ms-auto navbar-nav"> 
                        <li class="nav-item"> <a class="active nav-link" aria-current="page" href="#">Home</a> 
                        </li>                         
                        <li class="nav-item"> <a class="nav-link" href="#">Devis</a> 
                        </li>                         
                        <li class="nav-item"> <a class="nav-link" href="#">Rendez-vous</a> 
                        </li>                         
                        <li class="nav-item"> 
</li>                         
                        <li class="nav-item"> 
</li>                         
                        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a> 
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> 
                            </div>                             
                        </li>                         
                    </ul>                     
                </div>
            </div>             
        </nav>
        <main role="main">
            <!-- Hero -->
            <div class="content-space-t-lg-1 lib-hero overflow-hidden text-black-50">
                <div class="container position-relative content-space-t-3 content-space-b-2">
                    <div class="col-lg-6 grid-margin stretch-card w-100">
                        <div class="card-body">
                            <h4 class="card-title text-black-50" style="font-family: 'Oxanium', sans-serif; font-size: 42px;">Liste des devis</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning-emphasis">
                                        <tr class="text-primary-emphasis">
                                            <th style="font-family: 'Titillium Web', sans-serif; font-size: 19px;" class="fw-bold">Id Voiture</th>
                                            <th style="font-family: 'Titillium Web', sans-serif; font-size: 19px;" class="fw-bold">Type de voiture</th>
                                            <th style="font-family: 'Titillium Web', sans-serif; font-size: 19px;" class="fw-bold">Date de prestation</th>
                                            <th style="font-family: 'Titillium Web', sans-serif; font-size: 19px;" class="fw-bold">Montant</th>
                                            <th style="font-family: 'Titillium Web', sans-serif; font-size: 19px;" class="fw-bold">Date de paiement&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Photoshop</td>
                                            <td> 28.76% <i class="typcn typcn-arrow-sorted-down"></i></td>
                                            <td class="text-success"> <span>Ar</span> 15000  </td>
                                            <td>
                                                <form role="form"> 
                                                    <div class="mb-auto"> 
                                                        <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Enter email" aria-describedby="emailHelp"> 
                                                    </div>                                                     
                                                </form>                                                 
                                            </td>
                                            <td>
                                                <button class="btn btn-light btn-outline-dark placeholder-wave rounded rounded-1" type="button">Valider</button>                                                 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
</div>
                    </div>
                </div>
            </div>
            <!-- End Pricing -->
            <!-- FAQ -->
            <!-- End FAQ -->
        </main>
        <footer class="bg-dark">
            <div class="container">
                <div class="row align-items-center pt-8 pb-4">
                    <div class="col-md mb-5 mb-md-0">
                        <h2 class="fw-medium text-white-70 mb-0"><span class="fw-bold text-white">Garazy</span> est avec vous!</h2>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-auto">
                        <div class="d-grid d-sm-flex gap-3">
                            <a class="btn btn-primary" href="#">Rendez-vous</a>
                            <a class="btn btn-ghost-light btn-pointer" href="#">Deconnexion</a>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
                <div class="row align-items-md-center py-6">
                    <div class="col-md mb-3 mb-md-0">
                        <!-- List -->
                        <ul class="list-inline list-px-2 mb-0">
                            <li class="list-inline-item"><a class="link link-light link-light-75" href="#">Privacy and Policy</a>
                            </li>
                            <li class="list-inline-item"><a class="link link-light link-light-75" href="#">Terms</a>
                            </li>
                            <li class="list-inline-item"><a class="link link-light link-light-75" href="#">Status</a>
                            </li>
                            <li class="list-inline-item">
                                <!-- Button Group -->
                                <div class="btn-group"><a class="link link-light link-light-75" href="javascript:;" id="selectLanguage" data-bs-toggle="dropdown" aria-expanded="false"> <span class="d-flex align-items-center"> <img class="avatar avatar-xss avatar-circle me-2" src="../../../assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/> <span>English</span> </span> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item d-flex align-items-center active" href="#"> <img class="avatar avatar-xss avatar-circle me-2" src="../../../assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/> <span>English</span> </a>
                                        <a class="dropdown-item d-flex align-items-center" href="#"> <img class="avatar avatar-xss avatar-circle me-2" src="../../../assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16"/> <span>Deutsch</span> </a>
                                        <a class="dropdown-item d-flex align-items-center" href="#"> <img class="avatar avatar-xss avatar-circle me-2" src="../../../assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16"/> <span>Español</span> </a>
                                    </div>
                                </div>
                                <!-- End Button Group -->
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                    <!-- End Col -->
                    <div class="col-md-auto">
                        <p class="fs-5 text-white-70 mb-0">© Pinekit, 2024</p>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </footer>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
