<!DOCTYPE html>
<html lang="en" style="background-color: #000000;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/login.css">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body style="background-color: #000000;">
        <div class="container">
            <div class="row" style="margin-left: 34.373999999999995%; margin-top: 27.573%;">
                <div class="form-container">
                    <div class="logo-container" style="font-size: 30px;">Sign In</div>
                    <form class="form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Enter your email" required="">
                            <label for="email">Password</label>
                            <input type="password" id="email" name="email" placeholder="Enter your password" required="">
                        </div>
                        <button class="form-submit-btn" type="submit">Connect</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="assets/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
